/* 
George Seals-Ramos
10-24-2024
*/

body{
    background-color: black;
    color: rgb(233, 12, 12);
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    width: 50;
    height: 50;
}

h1{
    text-align: center;
}